html {
  overflow-x: hidden
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-family: 'Oswald', sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background: url(../images/resize-5.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

#logo {
  color: #fff;
  text-decoration: none;
  font-size: 200%;
}

html,
body {
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(230, 230, 230, 0.801);
  background: linear-gradient(to left, #1b1b1b, #424242);
  color: #FFF;
  height: 50px;
  padding: 1em;
  top: 0px;
  z-index: 9999;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu>li {
  margin: 0 1rem;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle~.menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked~.menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu>li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }

  .menu>li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}


html {
  overflow-x: hidden
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-family: 'Oswald', sans-serif;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box {
  background: black;
  opacity: 0.85;
  width: 100vw;
}

.text-box h1 {
  font-size: 62px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 20px;
  color: #fff;
}

.about {
  width: 50%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.about h1 {
  font-size: 50px;
  padding-bottom: 30px;
}

.about p {
  font-size: 20px;
}

.rules {
  width: 50%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.rules h1 {
  font-size: 50px;
  padding-bottom: 30px;
}

.rules p {
  font-size: 20px;
}

/* Locations */

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.location-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 20px 12px;
  position: relative;
  overflow: hidden;
}

@media(max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

.location {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.location h1 {
  font-size: 50px;
}

.location-col img {
  width: 100%;
}

.form-section {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url("../images/niklas-sagren-unsplash1.jpg");
  background-size: cover;
  background-position: center center;
}

.signup-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.1);
  width: 380px;
  padding: 50px 30px;
  box-shadow: 7px 7px 30px #000;
}

.signup-form>h2 {
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
  margin-bottom: 2em;
}

form label {
  margin-left: 5%;
}

.text-input {
  background: transparent;
  color: #fafafa;
  width: 90%;
  height: 25px;
  margin: 5px 0 20px 0;
  border: 1px solid #fafafa;
  border-radius: 2px;
  margin-left: 5%;
}

.text-input:hover {
  border-color: #91716B;
}

.join-button {
  margin-top: 20px;
  border-radius: 2px;
  padding: 15px 32px 15px 32px;
  font-size: 100%;
  background-color: #91716B;
  color: #FAFAFA;
  display: block;
  bottom: 20px;
  position: relative;
  width: 100%;
}

.join-button:hover {
  background-color: #fafafa;
  color: #f16c6b;
}

.social-media {
  position: absolute;
  text-align: center;
  background: linear-gradient(to left, #1b1b1b, #424242);
  color: #fafafa;
  bottom: 0;
  width: 100%;
  height: 55px;
}

/* Media Queries */

/* Small mobile screens */
@media screen and (min-width: 370px) and (max-width: 425px) {
  .signup-form {
    background: rgba(0, 0, 0, 0.1);
    padding: 50px 30px;
    box-shadow: 7px 7px 30px #000;
    width: 80%;
  }
}